@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@Html.Action("PartialHead", "AdminLayout")

<body class="fix-header fix-sidebar card-no-border">

    @Html.Action("PartialPreLoader", "AdminLayout")

    <div id="main-wrapper">

        @Html.Action("PartialNavbar", "AdminLayout")

        @Html.Action("PartialSideBar", "AdminLayout")

        <div class="page-wrapper">

            <div class="container-fluid">

                @Html.Action("PartialPageRowTitle", "AdminLayout")

                @RenderBody()

                @Html.Action("PartialFooter", "AdminLayout")

            </div>
        </div>

        </div>

        @Html.Action("PartialScript", "AdminLayout")
</body>
</html>
